<div class="jumbotron">
    <h1 class="display-4">Weather Now</h1>
    <hr class="my-4">
    <p class="lead">Notícias sobre o clima no mundo</p>
</div>
<hr>
<h2>Postagens recentes:</h2>
{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body"></div>
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-info">Leia mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data: {{data}}</small>
    </div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}